<p id="notice"><%= notice %></p>


<% if current_user.owner.valid? %>
  <h2>Dados cadastrais</h2>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Contato</th>
        <th>E-mail</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @owners.each do |owner| %>
        <tr>
          <td><%= owner.nome %></td>
          <td><%= owner.contato %></td>
          <td><%= owner.user.email if owner.user %></td>
          <td><%= link_to 'Detalhes', owner %></td>
          <td><%= link_to 'Editar', edit_owner_path(owner) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% else %>
    <%= link_to 'Complete seu cadastro', new_owner_path %>

  <% end %>



