<p id="notice"><%= notice %></p>

<div class="container">
    <h2><%= simple_format @owner.nome %></h2>
    <%= simple_format @owner.contato %>
    <%= simple_format @owner.data_nascimento.to_s %>
    <%= simple_format @owner.user.email %>
</div>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>

