<p id="notice"><%= notice %></p>

<h1>Animais cadastrados</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>Nome</th>
      <th>Espécie</th>
      <th>Precisa de</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= image_tag animal.foto.url(:medium) %></td>
        <td><%= animal.nome %></td>
        <td><%= animal.especie %></td>
        <td><%= animal.tipo_acao %></td>
        <td><%= link_to 'Detalhes', animal %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar novo animal', new_animal_path %>
